node_modules
.DS_Store
.idea
geckodriver.log
__pycache__
*.pyc


# DO NOT ADD THE FOLLOWING FILES TO THE GITIGNORE
# new_icons.png - this is used by peek bot
# screenshots/ - this is used by build bot