.devicon-amazonwebservices-plain-wordmark.colored,
.devicon-amazonwebservices-original.colored {
	color: #F7A80D;
}
.devicon-android-plain-wordmark.colored,
.devicon-android-plain.colored {
	color: #A4C439;
}
.devicon-angularjs-plain-wordmark.colored,
.devicon-angularjs-plain.colored {
	color: #c4473a;
}
.devicon-appcelerator-plain-wordmark.colored,
.devicon-appcelerator-original.colored {
	color: #AC162C;
}
.devicon-apple-original.colored {
	color: #000000;
}
.devicon-atom-original.colored,
.devicon-atom-original-wordmark.colored {
	color: #67595D;
}
.devicon-backbonejs-plain.colored,
.devicon-backbonejs-plain-wordmark.colored {
	color: #002A41;
}
.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
	color: #59407f;
}
.devicon-bower-line-wordmark.colored,
.devicon-bower-line.colored,
.devicon-bower-plain-wordmark.colored,
.devicon-bower-plain.colored {
	color: #ef5734;
}
.devicon-chrome-plain-wordmark.colored,
.devicon-chrome-plain.colored {
	color: #ce4e4e;
}
.devicon-codeigniter-plain-wordmark.colored,
.devicon-codeigniter-plain.colored {
	color: #ee4323;
}
.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
	color: #3d8fc6;
}
.devicon-debian-plain-wordmark.colored,
.devicon-debian-plain.colored {
	color: #A80030;
}
.devicon-dot-net-plain-wordmark.colored,
.devicon-dot-net-plain.colored {
	color: #1384c8;
}
.devicon-drupal-plain-wordmark.colored,
.devicon-drupal-plain.colored {
	color: #0073BA;
}
.devicon-firefox-plain-wordmark.colored,
.devicon-firefox-plain.colored {
	color: #DD732A;
}
.devicon-foundation-plain-wordmark.colored,
.devicon-foundation-plain.colored {
	color: #008cba;
}
.devicon-git-plain-wordmark.colored,
.devicon-git-plain.colored {
	color: #f34f29;
}
.devicon-grunt-line-wordmark.colored,
.devicon-grunt-line.colored,
.devicon-grunt-plain-wordmark.colored,
.devicon-grunt-plain.colored {
	color: #fcaa1a;
}
.devicon-gulp-plain.colored {
	color: #eb4a4b;
}
.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
	color: #e54d26;
}
.devicon-ie10-original.colored {
	color: #1EBBEE;
}
.devicon-illustrator-line.colored,
.devicon-illustrator-plain.colored {
	color: #faa625;
}
.devicon-java-plain-wordmark.colored,
.devicon-java-plain.colored {
	color: #EA2D2E;
}
.devicon-javascript-plain.colored {
	color: #f0db4f;
}
.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
	color: #0769ad;
}
.devicon-krakenjs-plain.colored,
.devicon-krakenjs-plain-wordmark.colored {
	color: #0081C2;
}
.devicon-laravel-plain-wordmark.colored,
.devicon-laravel-plain.colored {
	color: #fd4f31;
}
.devicon-less-plain-wordmark.colored {
	color: #2a4d80;
}
.devicon-linux-plain.colored {
	color: #000000;
}
.devicon-mongodb-plain.colored,
.devicon-mongodb-plain-wordmark.colored {
	color: #4FAA41;
}
.devicon-moodle-plain.colored,
.devicon-moodle-plain-wordmark.colored {
	color: #F7931E;
}
.devicon-mysql-plain.colored,
.devicon-mysql-plain-wordmark.colored {
	color: #00618a;
}
.devicon-nodejs-plain.colored,
.devicon-nodejs-plain-wordmark.colored {
	color: #83CD29;
}
.devicon-oracle-original.colored {
	color: #EA1B22;
}
.devicon-photoshop-line.colored,
.devicon-photoshop-plain.colored {
	color: #80b5e2;
}
.devicon-php-plain.colored {
	color: #6181b6;
}
.devicon-postgresql-plain.colored,
.devicon-postgresql-plain-wordmark.colored {
	color: #336791;
}
.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
	color: #ffd845;
}
.devicon-rails-plain-wordmark.colored,
.devicon-rails-plain.colored {
	color: #a62c46;
}
.devicon-ruby-plain-wordmark.colored,
.devicon-ruby-plain.colored {
	color: #d91404;
}
.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
	color: #DD4814;
}
.devicon-sass-original.colored {
	color: #cc6699;
}
.devicon-travis-plain-wordmark.colored,
.devicon-travis-plain.colored {
	color: #BB2031;
}
.devicon-trello-plain-wordmark.colored,
.devicon-trello-plain.colored {
	color: #23719F;
}
.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
	color: #DD4814;
}
.devicon-windows8-original-wordmark.colored,
.devicon-windows8-original.colored {
	color: #00ADEF;
}
.devicon-wordpress-plain-wordmark.colored,
.devicon-wordpress-plain.colored {
	color: #494949;
}
.devicon-yii-plain-wordmark.colored,
.devicon-yii-plain.colored {
	color: #0073bb;
}
.devicon-zend-plain-wordmark.colored,
.devicon-zend-plain.colored {
	color: #68b604;
}
