@font-face {
	font-family: 'devicon';
	src:url('fonts/devicon.eot?hju4k8');
	src:url('fonts/devicon.eot?#iefixhju4k8') format('embedded-opentype'),
	url('fonts/devicon.woff?hju4k8') format('woff'),
	url('fonts/devicon.ttf?hju4k8') format('truetype'),
	url('fonts/devicon.svg?hju4k8#devicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="devicon-"], [class*=" devicon-"] {
	font-family: 'devicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.devicon-windows8-original-wordmark:before {
	content: "\e600";
}
.devicon-windows8-original:before {
	content: "\e601";
}
.devicon-windows8-plain-wordmark:before {
	content: "\e600";
}
.devicon-windows8-plain:before {
	content: "\e601";
}
.devicon-sass-original:before {
	content: "\e602";
}
.devicon-sass-plain:before {
	content: "\e602";
}
.devicon-sass-plain-wordmark:before {
	content: "\e602";
}
.devicon-oracle-original:before {
	content: "\e603";
}
.devicon-oracle-plain:before {
	content: "\e603";
}
.devicon-oracle-plain-wordmark:before {
	content: "\e603";
}
.devicon-ie10-original:before {
	content: "\e604";
}
.devicon-ie10-plain:before {
	content: "\e604";
}
.devicon-atom-original-wordmark:before {
	content: "\e605";
}
.devicon-atom-original:before {
	content: "\e606";
}
.devicon-atom-plain-wordmark:before {
	content: "\e605";
}
.devicon-atom-plain:before {
	content: "\e606";
}
.devicon-apple-original:before {
	content: "\e607";
}
.devicon-apple-plain:before {
	content: "\e607";
}
.devicon-appcelerator-original:before {
	content: "\e608";
}
.devicon-appcelerator-plain:before {
	content: "\e608";
}
.devicon-amazonwebservices-original:before {
	content: "\e609";
}
.devicon-amazonwebservices-plain:before {
	content: "\e609";
}
.devicon-amazonwebservices-plain-wordmark:before {
	content: "\e60a";
}
.devicon-android-plain-wordmark:before {
	content: "\e60b";
}
.devicon-android-plain:before {
	content: "\e60c";
}
.devicon-angularjs-plain-wordmark:before {
	content: "\e60d";
}
.devicon-angularjs-plain:before {
	content: "\e60e";
}
.devicon-appcelerator-plain-wordmark:before {
	content: "\e60f";
}
.devicon-backbonejs-plain-wordmark:before {
	content: "\e610";
}
.devicon-backbonejs-plain:before {
	content: "\e611";
}
.devicon-bootstrap-plain-wordmark:before {
	content: "\e612";
}
.devicon-bootstrap-plain:before {
	content: "\e613";
}
.devicon-bower-line-wordmark:before {
	content: "\e614";
}
.devicon-bower-line:before {
	content: "\e615";
}
.devicon-bower-plain-wordmark:before {
	content: "\e616";
}
.devicon-bower-plain:before {
	content: "\e617";
}
.devicon-chrome-plain-wordmark:before {
	content: "\e618";
}
.devicon-chrome-plain:before {
	content: "\e619";
}
.devicon-codeigniter-plain-wordmark:before {
	content: "\e61a";
}
.devicon-codeigniter-plain:before {
	content: "\e61b";
}
.devicon-css3-plain-wordmark:before {
	content: "\e61c";
}
.devicon-css3-plain:before {
	content: "\e61d";
}
.devicon-debian-plain-wordmark:before {
	content: "\e61e";
}
.devicon-debian-plain:before {
	content: "\e61f";
}
.devicon-dot-net-plain-wordmark:before {
	content: "\e620";
}
.devicon-dot-net-plain:before {
	content: "\e621";
}
.devicon-drupal-plain-wordmark:before {
	content: "\e622";
}
.devicon-drupal-plain:before {
	content: "\e623";
}
.devicon-firefox-plain-wordmark:before {
	content: "\e624";
}
.devicon-firefox-plain:before {
	content: "\e625";
}
.devicon-foundation-plain-wordmark:before {
	content: "\e626";
}
.devicon-foundation-plain:before {
	content: "\e627";
}
.devicon-git-plain-wordmark:before {
	content: "\e628";
}
.devicon-git-plain:before {
	content: "\e629";
}
.devicon-grunt-line-wordmark:before {
	content: "\e62a";
}
.devicon-grunt-line:before {
	content: "\e62b";
}
.devicon-grunt-plain-wordmark:before {
	content: "\e62c";
}
.devicon-grunt-plain:before {
	content: "\e62d";
}
.devicon-gulp-plain:before {
	content: "\e62e";
}
.devicon-html5-plain-wordmark:before {
	content: "\e62f";
}
.devicon-html5-plain:before {
	content: "\e630";
}
.devicon-illustrator-line:before {
	content: "\e631";
}
.devicon-illustrator-plain:before {
	content: "\e632";
}
.devicon-java-plain-wordmark:before {
	content: "\e633";
}
.devicon-java-plain:before {
	content: "\e634";
}
.devicon-javascript-plain:before {
	content: "\e635";
}
.devicon-jquery-plain-wordmark:before {
	content: "\e636";
}
.devicon-jquery-plain:before {
	content: "\e637";
}
.devicon-krakenjs-plain-wordmark:before {
	content: "\e638";
}
.devicon-krakenjs-plain:before {
	content: "\e639";
}
.devicon-laravel-plain-wordmark:before {
	content: "\e63a";
}
.devicon-laravel-plain:before {
	content: "\e63b";
}
.devicon-less-plain-wordmark:before {
	content: "\e63c";
}
.devicon-linux-plain:before {
	content: "\e63d";
}
.devicon-mongodb-plain-wordmark:before {
	content: "\e63e";
}
.devicon-mongodb-plain:before {
	content: "\e63f";
}
.devicon-moodle-plain-wordmark:before {
	content: "\e640";
}
.devicon-moodle-plain:before {
	content: "\e641";
}
.devicon-mysql-plain-wordmark:before {
	content: "\e642";
}
.devicon-mysql-plain:before {
	content: "\e643";
}
.devicon-nodejs-plain-wordmark:before {
	content: "\e644";
}
.devicon-nodejs-plain:before {
	content: "\e645";
}
.devicon-photoshop-line:before {
	content: "\e646";
}
.devicon-photoshop-plain:before {
	content: "\e647";
}
.devicon-php-plain:before {
	content: "\e648";
}
.devicon-postgresql-plain-wordmark:before {
	content: "\e649";
}
.devicon-postgresql-plain:before {
	content: "\e64a";
}
.devicon-python-plain-wordmark:before {
	content: "\e64b";
}
.devicon-python-plain:before {
	content: "\e64c";
}
.devicon-rails-plain-wordmark:before {
	content: "\e64d";
}
.devicon-rails-plain:before {
	content: "\e64e";
}
.devicon-ruby-plain-wordmark:before {
	content: "\e64f";
}
.devicon-ruby-plain:before {
	content: "\e650";
}
.devicon-travis-plain-wordmark:before {
	content: "\e651";
}
.devicon-travis-plain:before {
	content: "\e652";
}
.devicon-trello-plain-wordmark:before {
	content: "\e653";
}
.devicon-trello-plain:before {
	content: "\e654";
}
.devicon-ubuntu-plain-wordmark:before {
	content: "\e655";
}
.devicon-ubuntu-plain:before {
	content: "\e656";
}
.devicon-wordpress-plain-wordmark:before {
	content: "\e657";
}
.devicon-wordpress-plain:before {
	content: "\e658";
}
.devicon-yii-plain-wordmark:before {
	content: "\e659";
}
.devicon-yii-plain:before {
	content: "\e65a";
}
.devicon-zend-plain-wordmark:before {
	content: "\e65b";
}
.devicon-zend-plain:before {
	content: "\e65c";
}
