.devicon-sketch-line-wordmark.colored,
.devicon-sketch-line.colored {
  color: #fdad00;
}
.devicon-npm-original-wordmark.colored {
  color: #cb3837;
}
.devicon-ionic-original-wordmark.colored,
.devicon-ionic-original.colored {
  color: #4e8ef7;
}
.devicon-ember-original-wordmark.colored {
  color: #dd3f24;
}
.devicon-electron-original-wordmark.colored,
.devicon-electron-original.colored {
  color: #47848f;
}
.devicon-vagrant-plain-wordmark.colored,
.devicon-vagrant-plain.colored {
  color: #127eff;
}
.devicon-yarn-plain-wordmark.colored,
.devicon-yarn-plain.colored {
  color: #2c8ebb;
}
.devicon-handlebars-plain-wordmark.colored,
.devicon-handlebars-plain.colored{
  color: #000000;
}
.devicon-couchdb-plain-wordmark.colored,
.devicon-couchdb-plain.colored {
  color: #e42528;
}
.devicon-behance-plain-wordmark.colored,
.devicon-behance-plain.colored {
  color: #0071e0;
}
.devicon-linkedin-plain-wordmark.colored,
.devicon-linkedin-plain.colored {
  color: #0076b2;
}
.devicon-ceylon-plain-wordmark.colored,
.devicon-ceylon-plain.colored {
  color: #AB710A;
}
.devicon-elm-plain-wordmark.colored,
.devicon-elm-plain.colored {
  color: #34495E;
}
.devicon-cakephp-plain-wordmark.colored,
.devicon-cakephp-plain.colored {
  color: #D43D44;
}
.devicon-stylus-original.colored {
  color: #333333;
}
.devicon-express-original-wordmark.colored,
.devicon-express-original.colored {
  color: #444;
}
.devicon-devicon-plain-wordmark.colored,
.devicon-devicon-plain.colored {
  color: #60BE86;
}
.devicon-intellij-plain-wordmark.colored,
.devicon-intellij-plain.colored {
  color: #136BA2;
}
.devicon-pycharm-plain-wordmark.colored,
.devicon-pycharm-plain.colored {
  color: #4D8548;
}
.devicon-rubymine-plain-wordmark.colored,
.devicon-rubymine-plain.colored {
  color: #C12C4C;
}
.devicon-webstorm-plain-wordmark.colored,
.devicon-webstorm-plain.colored {
  color: #2788B5;
}
.devicon-tomcat-line-wordmark.colored,
.devicon-tomcat-line.colored {
  color: #D1A41A;
}
.devicon-vuejs-line-wordmark.colored,
.devicon-vuejs-line.colored,
.devicon-vuejs-plain-wordmark.colored,
.devicon-vuejs-plain.colored {
  color: #41B883;
}
.devicon-swift-plain-wordmark.colored,
.devicon-swift-plain.colored {
  color: #F05138;
}
.devicon-webpack-plain-wordmark.colored,
.devicon-webpack-plain.colored {
  color: #1C78C0;
}
.devicon-visualstudio-plain-wordmark.colored,
.devicon-visualstudio-plain.colored {
	color: #68217A;
}
.devicon-slack-plain-wordmark.colored,
.devicon-slack-plain.colored {
	color: #2D333A;
}
.devicon-gatling-plain-wordmark.colored {
	color: #E77500;
}
.devicon-gatling-plain.colored {
	color: #E77500;
}
.devicon-ssh-original-wordmark.colored,
.devicon-ssh-plain-wordmark.colored {
	color: #231F20;
}
.devicon-ssh-original.colored,
.devicon-ssh-plain.colored {
	color: #231F20;
}
.devicon-sourcetree-original-wordmark.colored,
.devicon-sourcetree-plain-wordmark.colored {
	color: #205081;
}
.devicon-sourcetree-original.colored,
.devicon-sourcetree-plain.colored {
	color: #205081;
}
.devicon-phpstorm-plain-wordmark.colored {
	color: #5058A6;
}
.devicon-phpstorm-plain.colored {
	color: #5058A6;
}
.devicon-protractor-plain-wordmark.colored {
	color: #b7111d;
}
.devicon-protractor-plain.colored {
	color: #b7111d;
}
.devicon-cucumber-plain-wordmark.colored {
	color: #00a818;
}
.devicon-cucumber-plain.colored {
	color: #00a818;
}
.devicon-gradle-plain-wordmark.colored {
	color: #02303a;
}
.devicon-gradle-plain.colored {
	color: #02303a;
}
.devicon-jeet-plain-wordmark.colored {
	color: #FF664A;
}
.devicon-jeet-plain.colored {
	color: #FF664A;
}
.devicon-gitlab-plain-wordmark.colored {
	color: #E24329;
}
.devicon-gitlab-plain.colored {
	color: #E24329;
}
.devicon-github-original-wordmark.colored,
.devicon-github-plain-wordmark.colored {
	color: #181616;
}
.devicon-github-original.colored,
.devicon-github-plain.colored {
	color: #181616;
}
.devicon-d3js-plain.colored {
	color: #f7974e;
}
.devicon-confluence-original-wordmark.colored,
.devicon-confluence-plain-wordmark.colored {
	color: #205081;
}
.devicon-confluence-original.colored,
.devicon-confluence-plain.colored {
	color: #205081;
}
.devicon-bitbucket-original-wordmark.colored,
.devicon-bitbucket-plain-wordmark.colored {
	color: #205081;
}
.devicon-bitbucket-original.colored,
.devicon-bitbucket-plain.colored {
	color: #205081;
}
.devicon-amazonwebservices-plain-wordmark.colored,
.devicon-amazonwebservices-original.colored,
.devicon-amazonwebservices-plain.colored {
	color: #F7A80D;
}
.devicon-android-plain-wordmark.colored,
.devicon-android-plain.colored {
	color: #A4C439;
}
.devicon-angularjs-plain-wordmark.colored,
.devicon-angularjs-plain.colored {
	color: #c4473a;
}
.devicon-apache-line-wordmark.colored,
.devicon-apache-line.colored,
.devicon-apache-plain-wordmark.colored,
.devicon-apache-plain.colored {
	color: #303284;
}
.devicon-appcelerator-plain-wordmark.colored,
.devicon-appcelerator-original.colored,
.devicon-appcelerator-plain.colored {
	color: #ac162c;
}
.devicon-apple-original.colored,
.devicon-apple-plain.colored {
	color: #000000;
}
.devicon-atom-original.colored,
.devicon-atom-original-wordmark.colored,
.devicon-atom-plain.colored,
.devicon-atom-plain-wordmark.colored {
	color: #67595D;
}
.devicon-babel-original.colored,
.devicon-babel-plain.colored {
	color: #f9dc3e;
}
.devicon-backbonejs-plain.colored,
.devicon-backbonejs-plain-wordmark.colored {
	color: #002A41;
}
.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
	color: #59407f;
}
.devicon-bower-line-wordmark.colored,
.devicon-bower-line.colored,
.devicon-bower-plain-wordmark.colored,
.devicon-bower-plain.colored {
	color: #ef5734;
}
.devicon-c-line-wordmark.colored,
.devicon-c-line.colored,
.devicon-c-plain-wordmark.colored,
.devicon-c-plain.colored {
	color: #03599c;
}
.devicon-c-line-wordmark.colored,
.devicon-c-line.colored,
.devicon-c-plain-wordmark.colored,
.devicon-c-plain.colored {
	color: #03599c;
}
.devicon-chrome-plain-wordmark.colored,
.devicon-chrome-plain.colored {
	color: #ce4e4e;
}
.devicon-codeigniter-plain-wordmark.colored,
.devicon-codeigniter-plain.colored {
	color: #ee4323;
}
.devicon-coffeescript-original-wordmark.colored,
.devicon-coffeescript-original.colored,
.devicon-coffeescript-plain-wordmark.colored,
.devicon-coffeescript-plain.colored {
	color: #28334c;
}
.devicon-cplusplus-line-wordmark.colored,
.devicon-cplusplus-line.colored,
.devicon-cplusplus-plain-wordmark.colored,
.devicon-cplusplus-plain.colored {
	color: #9c033a;
}
.devicon-csharp-line-wordmark.colored,
.devicon-csharp-line.colored,
.devicon-csharp-plain-wordmark.colored,
.devicon-csharp-plain.colored {
	color: #68217a;
}
.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
	color: #3d8fc6;
}
.devicon-debian-plain-wordmark.colored,
.devicon-debian-plain.colored {
	color: #A80030;
}
.devicon-django-line.colored,
.devicon-django-line-wordmark.colored,
.devicon-django-plain.colored,
.devicon-django-plain-wordmark.colored {
	color: #003A2B;
}
.devicon-docker-plain-wordmark.colored,
.devicon-docker-plain.colored {
	color: #019bc6;
}
.devicon-doctrine-line-wordmark.colored,
.devicon-doctrine-line.colored,
.devicon-doctrine-plain-wordmark.colored,
.devicon-doctrine-plain.colored {
	color: #f56d39;
}
.devicon-dot-net-plain-wordmark.colored,
.devicon-dot-net-plain.colored {
	color: #1384c8;
}
.devicon-drupal-plain-wordmark.colored,
.devicon-drupal-plain.colored {
	color: #0073BA;
}
.devicon-erlang-plain-wordmark.colored,
.devicon-erlang-plain.colored {
	color: #a90533;
}
.devicon-facebook-original.colored,
.devicon-facebook-plain.colored {
	color: #3d5a98;
}
.devicon-firefox-plain-wordmark.colored,
.devicon-firefox-plain.colored {
	color: #DD732A;
}
.devicon-foundation-plain-wordmark.colored,
.devicon-foundation-plain.colored {
	color: #008cba;
}
.devicon-gimp-plain-wordmark.colored,
.devicon-gimp-plain.colored {
	color: #716955;
}
.devicon-git-plain-wordmark.colored,
.devicon-git-plain.colored {
	color: #f34f29;
}
.devicon-go-line.colored,
.devicon-go-plain.colored {
	color: #000000;
}
.devicon-google-original-wordmark.colored,
.devicon-google-plain-wordmark.colored {
	color: #587dbd;
}
.devicon-google-original.colored,
.devicon-google-plain.colored {
	color: #587dbd;
}
.devicon-grunt-line-wordmark.colored,
.devicon-grunt-line.colored,
.devicon-grunt-plain-wordmark.colored,
.devicon-grunt-plain.colored {
	color: #fcaa1a;
}
.devicon-gulp-plain.colored {
	color: #eb4a4b;
}
.devicon-heroku-line-wordmark.colored,
.devicon-heroku-line.colored,
.devicon-heroku-plain-wordmark.colored,
.devicon-heroku-plain.colored,
.devicon-heroku-original-wordmark.colored,
.devicon-heroku-original.colored {
	color: #6762a6;
}
.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
	color: #e54d26;
}
.devicon-ie10-original.colored,
.devicon-ie10-plain.colored {
	color: #1EBBEE;
}
.devicon-illustrator-line.colored,
.devicon-illustrator-plain.colored {
	color: #faa625;
}
.devicon-inkscape-plain-wordmark.colored,
.devicon-inkscape-plain.colored {
	color: #000000;
}
.devicon-java-plain-wordmark.colored,
.devicon-java-plain.colored {
	color: #EA2D2E;
}
.devicon-jasmine-plain-wordmark.colored,
.devicon-jasmine-plain.colored {
	color: #8a4182;
}
.devicon-javascript-plain.colored {
	color: #f0db4f;
}
.devicon-jetbrains-plain.colored,
.devicon-jetbrains-line.colored,
.devicon-jetbrains-line-wordmark.colored,
.devicon-jetbrains-plain-wordmark.colored {
	color: #F68B1F;
}
.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
	color: #0769ad;
}
.devicon-krakenjs-plain.colored,
.devicon-krakenjs-plain-wordmark.colored {
	color: #0081C2;
}
.devicon-laravel-plain-wordmark.colored,
.devicon-laravel-plain.colored {
	color: #fd4f31;
}
.devicon-less-plain-wordmark.colored {
	color: #2a4d80;
}
.devicon-linux-plain.colored {
	color: #000000;
}
.devicon-meteor-plain.colored,
.devicon-meteor-plain-wordmark.colored {
	color: #df5052;
}
.devicon-mocha-plain.colored {
	color: #8d6748;
}
.devicon-mongodb-plain.colored,
.devicon-mongodb-plain-wordmark.colored {
	color: #4FAA41;
}
.devicon-moodle-plain.colored,
.devicon-moodle-plain-wordmark.colored {
	color: #F7931E;
}
.devicon-mysql-plain.colored,
.devicon-mysql-plain-wordmark.colored {
	color: #00618a;
}
.devicon-nginx-original.colored,
.devicon-nginx-original-wordmark.colored,
.devicon-nginx-plain.colored,
.devicon-nginx-plain-wordmark.colored {
	color: #090;
}
.devicon-nodejs-plain.colored,
.devicon-nodejs-plain-wordmark.colored {
	color: #83CD29;
}
.devicon-nodewebkit-line.colored,
.devicon-nodewebkit-line-wordmark.colored,
.devicon-nodewebkit-plain.colored,
.devicon-nodewebkit-plain-wordmark.colored {
	color: #3d3b47;
}
.devicon-oracle-original.colored,
.devicon-oracle-plain.colored,
.devicon-oracle-plain-wordmark.colored {
	color: #EA1B22;
}
.devicon-photoshop-line.colored,
.devicon-photoshop-plain.colored {
	color: #80b5e2;
}
.devicon-php-plain.colored {
	color: #6181b6;
}
.devicon-postgresql-plain.colored,
.devicon-postgresql-plain-wordmark.colored {
	color: #336791;
}
.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
	color: #ffd845;
}
.devicon-rails-plain-wordmark.colored,
.devicon-rails-plain.colored {
	color: #a62c46;
}
.devicon-ruby-plain-wordmark.colored,
.devicon-ruby-plain.colored {
	color: #d91404;
}
.devicon-safari-line-wordmark.colored,
.devicon-safari-line.colored,
.devicon-safari-plain-wordmark.colored,
.devicon-safari-plain.colored {
	color: #1B88CA;
}
.devicon-react-plain-wordmark.colored,
.devicon-react-plain.colored,
.devicon-react-original-wordmark.colored,
.devicon-react-original.colored {
	color: #61dafb;
}
.devicon-redhat-plain-wordmark.colored,
.devicon-redhat-plain.colored,
.devicon-redhat-original-wordmark.colored,
.devicon-redhat-original.colored {
	color: #e93442;
}
.devicon-redis-plain-wordmark.colored,
.devicon-redis-plain.colored{
	color: #d82c20;
}
.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
	color: #DD4814;
}
.devicon-sass-original.colored,
.devicon-sass-plain.colored,
.devicon-sass-plain-wordmark.colored {
	color: #cc6699;
}
.devicon-sequelize-original-wordmark.colored,
.devicon-sequelize-plain-wordmark.colored,
.devicon-sequelize-original.colored,
.devicon-sequelize-plain.colored{
	color: #3b4b72;
}
.devicon-symfony-original.colored,
.devicon-symfony-original-wordmark.colored,
.devicon-symfony-plain.colored,
.devicon-symfony-plain-wordmark.colored {
	color: #1A171B;
}
.devicon-travis-plain-wordmark.colored,
.devicon-travis-plain.colored {
	color: #bb2031;
}
.devicon-trello-plain-wordmark.colored,
.devicon-trello-plain.colored {
	color: #23719f;
}
.devicon-twitter-original.colored,
.devicon-twitter-plain.colored {
	color: #1da1f2;
}
.devicon-typescript-original.colored,
.devicon-typescript-plain.colored {
	color: #007acc;
}
.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
	color: #dd4814;
}
.devicon-vim-plain.colored {
	color: #179a33;
}
.devicon-windows8-original-wordmark.colored,
.devicon-windows8-original.colored,
.devicon-windows8-plain-wordmark.colored,
.devicon-windows8-plain.colored {
	color: #00adef;
}
.devicon-wordpress-plain-wordmark.colored,
.devicon-wordpress-plain.colored {
	color: #494949;
}
.devicon-yii-plain-wordmark.colored,
.devicon-yii-plain.colored {
	color: #0073bb;
}
.devicon-zend-plain-wordmark.colored,
.devicon-zend-plain.colored {
	color: #68b604;
}