<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Devicon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" charset="utf-8">
  <link rel="stylesheet" href="devicon.min.css" charset="utf-8">

  <style media="screen">
    body {
      margin: 5rem;
      text-align: center;
      background: rgb(245, 245, 245);
    }
    .borders {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 8px solid #60be86;
      z-index: -1;
    }
    .icon-version {
      margin: 4rem 0;
    }
    i {
      display: inline-block;
      margin: 2rem;
      font-size: 5rem;
    }
    img {
      max-width: 5rem;
    }
    h4 {
      margin: 0;
      color: #60be86;
    }
  </style>

</head>

<body ng-app="app" ng-controller="IconsCtrl">

  <div class="borders"></div>

  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <input type="text" id="search" placeholder="Search for icons" ng-model="search.name">

  <div ng-repeat="icon in icons | filter:search">

    <div class="icon-version" ng-repeat="version in icon.versions.font">
      <i class="devicon-{{icon.name}}-{{version}}"></i>
      <i class="devicon-{{icon.name}}-{{version}} colored"></i>
      <h4>{{icon.name}}-{{version}} (font icon)</h4>
    </div>

    <div class="icon-version" ng-repeat="version in icon.versions.svg">
      <img ng-src="icons/{{icon.name}}/{{icon.name}}-{{version}}.svg" alt="{{icon.name}}-{{version}}" />
      <h4>{{icon.name}}-{{version}} (svg)</h4>
    </div>

  </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js" charset="utf-8"></script>

    <script charset="utf-8">
      var app = angular.module("app", []);

      app.controller('IconsCtrl', function($scope, $http) {
        $http.get('devicon.json').then(function(res) {
          $scope.icons = res.data;
          console.log($scope.icons);
        });
      });
    </script>

</body>

</html>
