<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>devicon | All programming languages and development tools related icons font</title>
    <meta name="description" content="devicon aims to gather all logos representing development languages and tools in one font.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="assets/components/normalize-css.css">
    <link rel="stylesheet" href="assets/components/foundation.css">
    <link rel="stylesheet" href="assets/style.css">

    <script src="assets/components/modernizr.js"></script>
  </head>
  <body ng-app="devicon" class="row">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- <header class="header">
      <h1>devicon</h1>
    </header> -->

    <main class="main columns large-12" ng-controller="IconListCtrl">
      <label>Search icon
        <input type="text" placeholder="Search icon" ng-model="search">
      </label>
      <label>Options</label>
      <input id="color" type="checkbox" ng-true-value="-color" ng-false-value="" ng-model="color"><label for="color">Color</label>
      <input id="text" type="checkbox" ng-true-value="-text" ng-false-value="" ng-model="text"><label for="text">Text</label>
      </label>
      <ul class="devicons" ng-repeat="type in icons | toArray | orderBy:'order'">
        <h2>{{ type.name }}</h2>
        <ul>
          <li ng-repeat="icon in type.icons | filter:search | orderBy:'name'" class="">
            <i class="devicon-{{ icon.name }}{{text}}{{color}}"></i>
          </li>
        </ul>
      </ul>
    </main>

    <!-- <footer class="footer">
      <a href="http://konpa.fr">konpa</a>
    </footer> -->

    <script src="assets/components/jquery.js"></script>
    <script src="assets/components/fastclick.js"></script>
    <script src="assets/components/foundation.js"></script>
    <script src="assets/components/angular.js"></script>
    <script src="assets/script.js"></script>

    <script>
  	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	  ga('create', 'UA-45588276-4', 'devicon.fr');
  	  ga('send', 'pageview');

  	</script>
  </body>
</html>
