name: Build Icons
on:
  pull_request:
      types: [labeled]
jobs:
  build:
    name: Get Fonts From Icomoon
    runs-on: windows-2019
    steps:
      - env: 
          LABELS: ${{github.event}}
        run: echo $LABELS
      # - uses: actions/checkout@v2
      #   with:
      #     ref: ${{ github.head_ref }}
      # - name: Setup Python v3.8
      #   uses: actions/setup-python@v2
      #   with: 
      #     python-version: 3.8
      # - name: Install dependencies (python, pip, npm)
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r ./.github/scripts/requirements.txt
      #     npm install
      # - name: Run icomoon_upload.py
      #   run: >
      #     python ./.github/scripts/icomoon_upload.py 
      #     ./.github/scripts/build_assets/geckodriver-v0.27.0-win64/geckodriver.exe
      #     ./icomoon.json ./devicon.json ./icons ./ --headless
      # - name: Upload geckodriver.log for debugging purposes
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: geckodriver-log
      #     path: ./geckodriver.log
      # - name: Running npm task for building devicon.min.css
      #   run: npm run build-css
      # - name: Create new branch and push it
      #   uses: technote-space/create-pr-action@v2
      #   with:
      #     COMMIT_MESSAGE: "Built new icons, icomoon.json and devicon.css"
      #     PR_BRANCH_PREFIX: "build/feature/"
      #     PR_BRANCH_NAME: "test-123"
      #     PR_TITLE: "Built new icons, icomoon.json and devicon.css"
