name: Build Icons
on: push
jobs:
  build:
    name: Get Fonts From Icomoon
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with: 
          ref: ${{ github.head_ref }}
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./.github/scripts/requirements.txt
      - name: Run icomoon_upload.py
        run: >
          python ./.github/scripts/icomoon_upload.py 
          ./.github/scripts/build_assets/geckodriver-v0.27.0-win64/geckodriver.exe
          ./icomoon.json ./devicon.json ./icons ./built_files --headless
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Built new icons, icomoon.json and devicon.css
          branch: action-fix
